{% extends "base.html.twig" %}
{% block title %}
	Payer votre commande
{% endblock %}
{% block body %}
	<h1>Payer votre commande</h1>
	<form id="payment-form">
		<div id="card-element"><!--Stripe.js injects the Card Element--></div>
		<button id="submit">
			<div class="spinner hidden" id="spinner"></div>
			<span id="button-text">Pay now</span>
		</button>
		<p id="card-error" role="alert"></p>
		<p class="result-message hidden">
			Payment succeeded, see the result in your
			<a href="" target="_blank">Stripe dashboard.</a>
			Refresh the page to pay again.
		</p>
	</form>
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/stripe/global.css') }}">
	{{ parent() }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="https://js.stripe.com/v3/"></script>
	<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
	<script>
		const clientSecret = '{{ clientSecret }}';
const stripePublicKey = '{{ stripePublicKey }}';
const redirectAfterSuccessUrl = '{{ url('purchase_payment_success', {id: purchase.id }) }}'
	</script>
	<script src="{{ asset('js/stripe/client.js') }}"></script>
{% endblock %}
